* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.tutor-page--tutor-info {
  padding: 0.8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
  font-family: "Rubik", sans-serif;
}

.tutor-page--tutor-info--pfp {
  flex-grow: 0;
  flex-shrink: 0;
}

.tutor-page--tutor-info--pfp > img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
}

.tutor-page--tutor-info--details {
  padding: 0.5rem;
}

.tutor-page--tutor-info--details > h3 {
  color: #11323d;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.8rem;
  margin: 0;
  font-weight: 500;
}

.tutor-page--tutor-info--stars {
  margin: 0.25rem 0;
}

.tutor-page--tutor-info--stars > img {
  width: 18px;
}

.tutor-page--tutor-info--details {
  margin-right: auto;
}

.tutor-page--tutor-info--details > ul {
  list-style: none;
  margin: 0.625rem 0 0 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}

.tutor-page--tutor-info--details > ul > li {
  margin: 0.25rem 0;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  gap: 0.375rem;
}

.tutor-page--tutor-info--details > ul > li a {
  text-decoration: none;
  margin: auto 0;
  padding: 0;
  vertical-align: middle;
  display: table-cell;
}

.tutor-page--tutor-info--details > ul > li p {
  margin: auto 0;
}

.tutor-page--tutor-info--contact {
  align-self: flex-end;
  padding-bottom: 2rem;
}

.tutor-page--tutor-info--message-button-link {
  display: block;
  margin: 0 0 1.5rem;
  padding: 0;
  text-decoration: none;
}

.tutor-page--tutor-info--message-button {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  padding: 0.75rem 1.25rem;
  border-radius: 20px;
  gap: 0.375rem;
  background: #79ac78;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tutor-page--tutor-info--message-button:hover {
  background: #6fa26e;
}

.tutor-page--tutor-info--message-button > p {
  margin: 0;
  padding: 0;
}

.tutor-page--tutor-info--message-button > img {
  width: 20px;
  height: 20px;
}

.tutor-page--tutor-info--social-icons > a > img {
  border-radius: 5px;
}
